[Unit]
Description = PP POD SIEM job daemon
After = network.target auditd.service

[Service]
Type = simple
WorkingDirectory = /opt/scripts/pod_test
ExecStart = /root/miniconda/envs/proofpoint/bin/python kafka_client.py
ExecReload = /bin/kill -HUP $MAINPID
SuccessExitStatus = 3
Restart = always
[Install]
WantedBy = multi-user.target
